<h2>Rock paper scissors</h2>

<p>
	Play rock paper scissors against a machine.
</p>

<span>Wins: {{numWins}}</span>
<br>
<span>Losses: {{numLosses}}</span>
<br>
<span>Win rate: {{winRate}}</span>
<br>

<div class="btn-group">
	<button (click)="selectOption('rock')" class="btn btn-primary" type="button">Rock</button>
	<button (click)="selectOption('paper')" class="btn btn-primary" type="button">Paper</button>
	<button (click)="selectOption('scissors')" class="btn btn-primary" type="button">Scissors</button>
</div>

<p *ngIf="lastPlayerOptions !== null">
	You chose <em>"{{lastPlayerOptions}}"</em>
</p>
<p *ngIf="lastAiOptions !== null">
	AI chose <em>"{{lastAiOptions}}"</em>
</p>
