<div class="form-check">
	<input
		[formControl]="formControl"
		class="form-check-input"
		id="autoNext" type="checkbox"
	>
	<label
		class="form-check-label"
		for="autoNext"
	>
		Auto next
	</label>
</div>

<button
	(click)="next.emit()"
	[disabled]="gameRunning"
	class="btn btn-primary"
	type="button"
>
	Next
</button>
