<article
	*ngIf="loading$ | async"
	class="d-flex flex-column align-items-center justify-content-center text-secondary"
>
	<div class="spinner-border m-5" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>

	<p>
		<strong><em>Generating random level...</em></strong>
	</p>

	<div *ngIf="loadingLong$ | async">
		<p>
			Generating a level might take a long time.
			If you want to generate a level faster, you can try on of these tips:
		</p>

		<ul>
			<li>Decrease the grid size</li>
			<li>Decrease the number of <em>Blocked</em> tiles</li>
			<li>Increase the number of colors</li>
			<li>Decrease the number of <em>Destination</em> tiles</li>
		</ul>

		<p>
			Generating a level will continuously get faster as we're working on improving the algorithm.
		</p>
	</div>
</article>

<ng-container *ngIf="!(loading$ | async)">
	<ng-container *ngIf="board$ | async as board">
		<div
			*ngFor="let row of board.grid; let y = index"
			class="d-flex"
		>
			<ng-container *ngFor="let tile of row; let x = index">
				<div
					(mousedown)="$event.preventDefault(); startPath({x, y})"
					(mouseenter)="$event.preventDefault(); continuePath({x, y})"
					(mouseup)="$event.preventDefault(); endPath()"
					(touchend)="$event.preventDefault(); endPath()"
					(touchmove)="$event.preventDefault(); toucheMove$.next($event)"
					(touchstart)="$event.preventDefault(); startPath({x, y})"
					*ngIf="tile.type !== 'blocked'"
					[attr.data-x]="x"
					[attr.data-y]="y"
					[ngClass]="['tile', tile.color ?? '']"
				>
					<div
						*ngIf="tile.type === 'source'"
						class="source d-flex flex-wrap align-content-center justify-content-center"
					>
						<p class="text-white fw-bold fs-2 p-0 m-0">
							{{board.getRestingPathLength(tile.color)}}
						</p>
					</div>
					<div
						*ngIf="tile.type === 'destination'"
						class="destination"
					>
						<div
							*ngIf="tile.satisfied"
							class="satisfied"
						></div>
					</div>
					<div
						*ngIf="tile.type !== 'destination'"
						[class.connection-down]="tile.next === 'down'"
						[class.connection-left]="tile.next === 'left'"
						[class.connection-right]="tile.next === 'right'"
						[class.connection-up]="tile.next === 'up'"
					></div>
				</div>
				<div
					*ngIf="tile.type === 'blocked'"
					class="tile blocked"
				>
				</div>
			</ng-container>
		</div>
	</ng-container>
</ng-container>
