.tile {
	--line-width: 1.2rem;
	--line-color: rgba(0, 0, 0, 0);
	--source-size: 2.8rem;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		z-index: 2;
		content: '';

		position: absolute;

		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		border-radius: var(--tile-gap);

		background-color: var(--line-color);
		opacity: 0.3;
	}

	&.red {
		--line-color: red;
	}

	&.green {
		--line-color: green;
	}

	&.yellow {
		--line-color: yellow;
	}

	&.orange {
		--line-color: orange;
	}

	&.blue {
		--line-color: blue;
	}

	&.purple {
		--line-color: purple;
	}

	&.turquoise {
		--line-color: turquoise;
	}

	&.pink {
		--line-color: pink;
	}

	&.brown {
		--line-color: brown;
	}

	&.blocked {
		background-color: transparent;
	}

	.source {
		width: var(--source-size);
		height: var(--source-size);

		border-radius: 50%;

		background-color: var(--line-color);

		p {
			z-index: 3;
		}
	}

	.destination {
		--source-size: calc(2.5rem + var(--line-width) / 2);

		z-index: 2;

		display: flex;
		justify-content: center;
		align-items: center;

		width: var(--source-size);
		height: var(--source-size);

		border-radius: 50%;

		background-color: var(--line-color);

		&:after {
			content: '';

			width: calc(var(--source-size) - var(--line-width));
			height: calc(var(--source-size) - var(--line-width));

			border-radius: 50%;

			background-color: var(--tile-color);
		}

		div.satisfied {
			position: absolute;
			content: '';

			width: var(--line-width);
			height: var(--line-width);

			border-radius: 50%;

			background-color: var(--line-color);
		}
	}

	.connection-left,
	.connection-right,
	.connection-up,
	.connection-down {
		z-index: 1;

		position: absolute;

		border-radius: calc(var(--line-width) / 2);

		background-color: var(--line-color);
	}

	.connection-left {
		top: calc(var(--tile-size) / 2 - var(--line-width) / 2);
		left: calc(
			var(--tile-size) / 2 - var(--line-width) / 2
			- (var(--tile-size) + 2 * var(--tile-gap))
		);

		height: var(--line-width);
		width: calc(
			var(--tile-size)
			+ 2 * var(--tile-gap)
			+ var(--line-width)
		);
	}

	.connection-right {
		top: calc(var(--tile-size) / 2 - var(--line-width) / 2);
		left: calc(
			var(--tile-size) / 2 - var(--line-width) / 2
		);

		height: var(--line-width);
		width: calc(
			var(--tile-size)
			+ 2 * var(--tile-gap)
			+ var(--line-width)
		);
	}

	.connection-up {
		top: calc(
			var(--tile-size) / 2 - var(--line-width) / 2
			- (var(--tile-size) + 2 * var(--tile-gap))
		);
		left: calc(var(--tile-size) / 2 - var(--line-width) / 2);

		width: var(--line-width);
		height: calc(
			var(--tile-size)
			+ 2 * var(--tile-gap)
			+ var(--line-width)
		);
	}

	.connection-down {
		top: calc(
			var(--tile-size) / 2 - var(--line-width) / 2
		);
		left: calc(var(--tile-size) / 2 - var(--line-width) / 2);

		width: var(--line-width);
		height: calc(
			var(--tile-size)
			+ 2 * var(--tile-gap)
			+ var(--line-width)
		);
	}
}
