<h2>Logic Flow</h2>

<p>
	Try to fill up the grid with paths starting from each color's source
</p>

<ngb-accordion>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<h3>Rules</h3>
		</ng-template>
		<ng-template ngbPanelContent>
			<p>The goal of the game is to fill up the grid with paths from each color follow these rules:</p>
			<ul>
				<li>A path must start from a <em>"Source"</em></li>
				<li>A path cannot cross an existing path</li>
				<li>If a tile is <em>"Blocked"</em> (Marked as an empty spot) no path can go through that tile</li>
				<li>If a <em>"Destination"</em> tile is present for a certain color, that color's path must end there
				</li>
			</ul>
		</ng-template>
	</ngb-panel>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<h3>Coming features</h3>
		</ng-template>
		<ng-template ngbPanelContent>
			<p>
				This game is very much still a work in progress. Here's a list what is coming in the near future in no
				particular
				order:
			</p>

			<ul>
				<li>If a tile is <em>"Directional"</em> it means path can only go through that tile in one the listed
					<em>allowed directions</em></li>
				<li>If as tile is <em>"ColorRestricted"</em> a path of a color can only go through that tile if it's
					color is listed as one of the <em>allowed colors</em></li>
				<li>If a tile is of the <em>"Crossing"</em> multiple paths should going through it, creating a cross.
				</li>
				<li>
					<em>"Counts"</em> is on of the bigger features
					<ul>
						<li>Every <em>"Source"</em> gets a number assigned</li>
						<li>A path's length must be exactly this number</li>
						<li>When a path goes through a <em>"Refill"</em> the source's number increases with a certain
							count (ie. +2). This allows the path to grow longer.
						</li>
					</ul>
				</li>
			</ul>
		</ng-template>
	</ngb-panel>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<h3>Generate level</h3>
		</ng-template>
		<ng-template ngbPanelContent>
			<ul #nav="ngbNav" class="nav-tabs mb-3" ngbNav>
				<li ngbNavItem="">
					<a ngbNavLink>Choose a preset</a>
					<ng-template ngbNavContent>
						<ul class="preset-list d-grid list-unstyled gap-3">
							<li *ngFor="let preset of presets" class="card">
								<div class="card-body">
									<h5>{{preset.title}}</h5>
									<ul>
										<li>Grid size: {{preset.settings.size.x}}x{{preset.settings.size.x}}</li>
										<li>Colors: {{preset.settings.numColors}}</li>
										<li>Destination tiles: {{preset.settings.numDestinationTiles}}</li>
										<li>Blocked tiles: {{preset.settings.numBlockedTiles}}</li>
									</ul>
									<button
										(click)="nextPreset(preset.settings)"
										class="btn btn-primary stretched-link"
										type="button"
									>
										Play
									</button>
								</div>
							</li>
						</ul>
					</ng-template>
				</li>
				<li ngbNavItem="">
					<a ngbNavLink>Or choose custom settings</a>
					<ng-template ngbNavContent>
						<form (submit)="$event.preventDefault(); submit()" [formGroup]="formGroup">
							<div [formGroup]="formGroup.controls.size" class="input-group mb-3">
								<span class="input-group-text">Grid size</span>
								<div class="form-floating">
									<input
										class="form-control"
										formControlName="x"
										id="width"
										max="10"
										min="2"
										type="number"
									>
									<label for="width">Width</label>
								</div>
								<div class="form-floating">
									<input
										class="form-control"
										formControlName="y"
										id="height"
										max="10"
										min="2"
										type="number"
									>
									<label for="height">Height</label>
								</div>
							</div>

							<div class="input-group mb-3">
								<div class="form-floating">
									<input
										class="form-control"
										formControlName="numColors"
										id="numColors"
										max="9"
										min="1"
										type="number"
									>
									<label for="numColors">Number of colors</label>
								</div>

								<div class="form-floating">
									<input
										class="form-control"
										formControlName="numBlockedTiles"
										id="numBlockedTiles"
										min="0"
										type="number"
									>
									<label for="numBlockedTiles">Number of blocked tiles</label>
								</div>

								<div class="form-floating">
									<input
										class="form-control"
										formControlName="numDestinationTiles"
										id="numDestinationTiles"
										min="0"
										type="number"
									>
									<label for="numDestinationTiles">Number of destination tiles</label>
								</div>
							</div>

							<div *ngIf="formGroup.hasError('invalidSize')" class="w-100 alert alert-danger mb-3">
								You have selected too many stuff to fit in a grid of this size.
							</div>

							<div *ngIf="formGroup.hasError('tooManyDestinations')"
								 class="w-100 alert alert-danger mb-3">
								You have selected more destinations than source colors.
							</div>

							<button class="btn btn-primary">Generate level</button>
						</form>
					</ng-template>
				</li>
			</ul>
			<div [ngbNavOutlet]="nav"></div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>

<section class="d-flex justify-content-center">
	<div class="d-flex flex-column align-items-center">
		<app-logic-flow-board
			(onFinish)="onFinish()"
			[numBlockedTiles]="numBlockedTiles"
			[numColors]="numColors"
			[numDestinationTiles]="numDestinationTiles"
			[size]="size"
		></app-logic-flow-board>

		<form
			(next)="next()"
			[gameRunning]="(gameRunning$ | async) ?? false"
			[autoNextDefault]="false"
			[delay]="0"
			app-form-next-game
		></form>
	</div>
</section>
