<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" routerLink="/">
			<h1>Brain Games</h1>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<a aria-current="page" class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
			</li>
		</ul>
	</header>
</div>

<main class="container">
	<router-outlet></router-outlet>
</main>
