<h2>Memory Game</h2>

<p>
	You will be shown a few colored tiles, memorize their positions.
	After the tiles disappear you need to click on every tile that was colored.
	The game will get harder as you progress.
</p>

<section class="d-flex justify-content-center">
	<div class="d-flex flex-column align-items-center">
		<form
			(submit)="$event.preventDefault(); goToLevel()"
			[formGroup]="formGroup"
			class="input-group my-2"
		>
			<input
				class="form-control"
				formControlName="level"
				min="1"
				placeholder="Level"
				type="number"
			>
			<button
				class=" btn btn-primary"
			>
				Go to level
			</button>
		</form>

		<app-memory-game-board
			(onFinish)="onFinish($event)"
			[gridSize]="gridSize"
			[numberOfTiles]="numberOfTiles"
		></app-memory-game-board>

		<form
			(next)="startGame()"
			[gameRunning]="gameRunning"
			app-form-next-game
		></form>

		<div *ngIf="!gameRunning && lastGameResult" class="w-100 alert alert-success my-2">
			Success!
		</div>
		<div *ngIf="!gameRunning && !lastGameResult" class="w-100 alert alert-warning my-2">
			Failed!
		</div>
	</div>
</section>
