.cursor-pointer {
	cursor: pointer;
}

.tile {
	--tile-size: 5rem;
	--tile-gap: 0.25rem;
	--tile-color: #dcdcdc;

	width: var(--tile-size);
	height: var(--tile-size);

	margin: var(--tile-gap);
	border-radius: var(--tile-gap);

	background-color: var(--tile-color);
}
