<p>
	Welcome to brain games, a free and open source collection of brain stimulation games.
</p>

<h2>Games</h2>

<ul class="games-list list-unstyled d-grid gap-3">
	<li class="card">
		<div class="card-body">
			<h5 class="card-title">Memory game</h5>

			<p>How many tiles can <em>you</em> remember?</p>
		</div>
		<div class="card-footer">
			<a
				class="btn btn-primary stretched-link mt-auto"
				routerLink="/memory"
			>
				Play
			</a>
		</div>
	</li>
	<li class="card">
		<div class="card-body">
			<h5 class="card-title">Logic flow</h5>

			<p>Fill up a grid with colored paths, following some logical rules</p>
		</div>
		<div class="card-footer">
			<a
				class="btn btn-primary stretched-link"
				routerLink="/logic-flow"
			>
				Play
			</a>
		</div>
	</li>
	<li class="card">
		<div class="card-body">
			<h5 class="card-title">Rock paper scissors</h5>

			<p>Can you beat the machine in rock paper scissors?</p>
		</div>
		<div class="card-footer">
			<a
				class="btn btn-primary stretched-link"
				routerLink="/rock-paper-scissors"
			>
				Play
			</a>
		</div>
	</li>
</ul>
